<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tobias Tom</string>
	<key>CFBundleDisplayName</key>
	<string>CloudPreview</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.tobiastom.CloudPreview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>Main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Enhances the cl.ly preview for media files.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>cl.ly</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://tobiastom.github.com/CloudPreview.safariextension/Updates.plist</string>
	<key>Website</key>
	<string>http://tobiastom.github.com/iTunesOnline.safariextension</string>
</dict>
</plist>
